---
import {
  BlogGallery,
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from '@/components/index';
import Base from '@/templates/Base.astro';
import type { IFrontmatter } from '@/types/IFrontMatter';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontmatter>('./*.md');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 6 });
}

const { page, description } = Astro.props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Projects page ${page.currentPage}`;
const title = titleBase + titleSuffix;
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader title={title} description={description} />
  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <!-- <CTA /> -->
</Base>
